/* .modal-big-table{min-width:70%;}
.modal-big-table .modal-body{max-height:69%;}
.modal-big-table .modal-all-title{min-width:100px;}
.modal-big-table .modal-all-title .modal-title40{min-width:40px;} */